@import 'normalize';

body{
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
}

#root{
  max-width: 800px;
  margin: 0 auto;
  padding: .5em;
}

.active{
  color: red;
}

a{
  cursor: pointer;
  color: cornflowerblue;
  text-decoration: none;
}
